.dub
docs.json
__dummy.html
docs/
/black_hole_sim
black_hole_sim.so
black_hole_sim.dylib
black_hole_sim.dll
black_hole_sim.a
black_hole_sim.lib
black_hole_sim-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json
0.5.2
.vscode/
